@import "~bootstrap/scss/bootstrap";

.fullBody {
  background-image: url('../images/weather2.jpg');
  background-size: cover;
}

.hot {
  background-image: url('../images/musana.jpg');
  background-size: cover;
}

.hot1 {
  background-image: url('../images/sunshine.jpg');
  background-size: cover;
}

.warm {
  background-image: url('../images/moderate.jpg');
  background-size: cover;
}

.warm1 {
  background-image: url('../images/moderate2.jpg');
  background-size: cover;
}

.cold {
  background-image: url('../images/cold.jpg');
  background-size: cover;
}

.cold1 {
  background-image: url('../images/ice.jpg');
  background-size: cover;
}

table {
  font-size: larger;
}

#myTable {
  font-size: 33px;
}
